/* Eliminar los márgenes del elemento HTML */
html {
    margin: 0;
    padding: 0;
  }
  
  /* Eliminar los márgenes del body */
  body {
    margin: 0;
    padding: 0;
  }
  

/* Estilo para el encabezado (div.Superior) */
.Superior {
    background-color: #0df7f7; /* Color de fondo azul */
    height: 8vh; /* 25% de la altura de la ventana */
    width: 100%; /* 100% del ancho de la ventana */
    border: 1px solid #ccc; /* Borde de 1 píxel de color gris claro */
  }
  
   /* Estilo para el menú (div.Menu) */
  .Listado {
    background-color: #2ecc71; /* Verde */
    width: 25%; /* 25% del ancho del cuerpo */
  }
  
/*estilo del contenido del encabezado*/
.beautiful-header {
  background-color: #333; /* Cambia el color de fondo a tu elección */
  color: white; /* Cambia el color del texto a tu elección */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.beautiful-header .logo {
  font-size: 24px;
}

.beautiful-header ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.beautiful-header li {
  margin: 0 15px;
}

.beautiful-header a {
  text-decoration: none;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 400px; /* Ajusta el ancho del contenedor a tu preferencia */
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1; /* Esto permite que el input ocupe el espacio restante dentro del contenedor */
}

.search-bar button {
  background-color: #07c7f2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px; /* Ajusta el tamaño del botón a tu preferencia */
  cursor: pointer;
  width: 100px;
}

        /* Estilo para el contenedor principal */
        .container {
          display: flex;
      }

      /* Estilo para la columna izquierda (pequeña) */
      .column-left {
          flex: 1;
          background-color: #f2f2f2;
          padding: 20px;
      }

      /* Estilo para la columna derecha (vacía) */
      .column-right {
          flex: 1;
          background-color: #ffffff;
          padding: 0;
      }

      /* Estilo para el menú */
      .menu {
          list-style-type: none;
          padding: 0;
      }

      .menu li {
          margin-bottom: 10px;
      }

      /* Estilo para el botón "Premium Ahora" */
      .premium-button {
          background-color: #3498db;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }

      /* Estilo para los iconos (puedes agregar tus propios íconos) */
      .icon {
          margin-right: 10px;
      }