/* Eliminar los márgenes del elemento HTML */
html {
    margin: 0;
    padding: 0;
  }
  
  /* Eliminar los márgenes del body */
  body {
    margin: 0;
    padding: 0;

  }
  
 
/*estilo del contenido del encabezado*/
.beautiful-header {
  background-color: #333; /* Cambia el color de fondo a tu elección */
  color: white; /* Cambia el color del texto a tu elección */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 10vh; /* El 35% de la altura de la ventana (viewport height) */
  
}

.beautiful-header .logo {
  font-size: 24px;
}

.beautiful-header ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.beautiful-header li {
  margin: 0 15px;
}

.beautiful-header a {
  text-decoration: none;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 400px; /* Ajusta el ancho del contenedor a tu preferencia */
}
/* Contenido del perfil despegable*/
.container {
  display: flex;
  height: 90vh; /* El 90% de la altura de la ventana */
}

.first-div {
  flex: 10%;

  background-color: #ffcc00; /* Color de fondo amarillo para el primer div */
}

.second-div {
  flex: 90%;
  background-color: #00ccff; /* Color de fondo azul para el segundo div */
}
